/*
  If you get stuck, feel free to watch the follow-up videos where I'll show you one solution
*/

* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
  background-color: #FAFAFA;
}

a {
	text-decoration: none;
  margin-left: .5em;
  color: #2E2E2E;
}

.name {
  margin: 1em 2em 0em 2em;
font-size: 2em;
}


.name,
.main-nav {
  display: inline-block;
}




/* ---- profile---- */

.profile {
	color: black;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  display: inline-block;
  width: 100%;
  background-color: #FAFAFA;
  min-height: 5%;
}


.col1 {
  width: 40%;
  margin-top: 1em;
  margin-left: 10%;
  float: left;
}

.pro-p {
  font-family: 'montserrat', serif;
  font-size: 1.2em;
  color: #3acec2;
}

.pro-pic {
  width: 30%;


}/* ---- profile---- */

/* ---- portfolio---- */
.wrap {
background-color: white;
border: 2em solid #FAFAFA;
width: 100%;
}

.portfolio {
text-align: center;
}

.col {
float: left;
width: 33.333333%;
text-align: center;
padding: 0em 1em;
}

img {
	max-width: 100%;
}

p {
	font-size: .95em;
	margin-bottom: 1.8em;
}

h2,
a {
	color: #093a58;
}

h2 {
	margin-top: 0;
}/* ---- portfolio---- */



/* ---- skills---- */
.skill {
  text-align: center;
}/* ---- skills---- */



/* ---- footer---- */
footer {
background-color: #FAFAFA;
width: 100%;
}

.contact h2 {
margin-top: 2em;
margin-bottom: 2em;
}


.foot-nav{
border-top: 1px solid black;
margin-left: 10%;
margin-right: 10%;
margin-top: 1em;
}

.contact {
text-align: center;
margin-top: -1em;
}

.foot-name,
.foot {
display: inline-block;
font-weight: bold;
width: 40%;
}

.foot {
  float: right;
  margin: 1.5em;
}/* ---- footer---- */


/* =================================
  Media Queries
==================================== */



@media (min-width: 768px) and (min-width: 1024px){

/* ---- main nav---- */
.name {
margin-right: 40%;

}


/* ---- Media Query ---- */
@media (max-width: 768px) {

body {
  background-color: yellow;
}


}



/* ---- Float clearfix ---- */

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
