

* {
	box-sizing: border-box;
  color: #2E2E2E;
}

body {
background-color: #FAFAFA;
}

.main-header {
width: 100%;
text-align: center;
}

header a {
  text-decoration: none;
  display: block;
  margin: .5em 1em;
  background-color: white;
  border-radius: 5px;
  padding: .7em .7em;
}

.pro-pic {
  width: 60%;
  margin-left: 20%;
  margin-top: 2.5em;

}


.pro-p {
font-family: Marzipan;
}



p {
font-size: 1em;
font-family: 'montserrat', serif;
margin: 2em;

}

p, h2 {
  text-align: center;
  font-size: 1em;

}

img {
  width: 90%;
  margin-left: 5%;
}

.wrap, .skilldiv {
  background-image: linear-gradient(white, #FAFAFA, white);

}


.portfolio {
  padding-top: 2.5em;
font-size: 1em;
}

.skilldiv {
  padding-top: 2.5em;
}

/* ---- footer---- */

.contact {
text-align: center;
padding-top: 1em;
}

.email {
  border-bottom: 1px solid grey;
  padding-bottom: 2em;
}

footer a{
background-color: #FAFAFA;
color: black;
}

.backtop {
  float: right;
}

.foot {
  display: none;
}

h4 {
  display: inline-block;
  font-family: fira sans;
}

footer a {
background-color: inherit;
color: black;
margin: 0em;
padding: 0em .3em;
text-decoration: none;
}

.foot-nav {
  margin: 0em 2em;
}

footer p {
  margin: 1em 2em 0em 2em;
}


.clearfix::after {
  content: "";
  display: table;
  clear: both;
}


/* ---- Media Query ---- */
@media (min-width: 768px) {


nav a {
  display: inline-block;
  background-color: inherit;
  margin: 0em 0em 2em 0em;
}

.profile {
  padding-bottom: 2em;
}

.pro-p {
margin: 0;
padding-left: 2em;
font-size: 1.2em;
width: 55%;
}

.pro-pic {
float: right;
padding-right: 2em;
margin: 0;
width: 40%;
}

.col {
width: 50%;
float: left;

}

.port1 {
  margin-bottom: 2em;
}

.skilldiv {
  background-color: white;
}

.skill {
border-top: 1px solid grey;
margin: 0em 2.5em;
padding: 2em 0em;
}

.foot-p {
padding: 0em 11em 2em 11em;
  font-family: Marzipan;
}

.backtop {
  display: none;
}

.foot {
display: inline-block;
margin-top: 1.33em;
}

footer a {
background-color: inherit;
color: black;
margin: 0em;
padding: 0em .3em;
text-decoration: none;
}



footer nav {
  float: right;
}

.foot-nav {
  margin: 0em 2em;
}


}


@media (min-width: 1024px) {

.name {
	float: left;
	padding: 0px 11.20px;
}

header h1, nav {
	display: inline-block;
}

nav {
	float: right;
	margin-top: 21.440px;
}

header {

	margin: 0em 2em;
}

.profile {
	margin-top: 2em;
}
.pro-p {
font-size: 1.75em;
text-align: left;

}



.col, .paint {
width: 33.3333%;
float: left;

}

.main {
	border: 2em solid #fafafa;
	padding: 1em;
}

}
